/*=========RESET GLOBAL========*/
body{
  background-color: #053C69;
  margin: 0;  
}
ul{
  list-style: none;
}
li {
    border-bottom: dashed #053c6911 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*=======================TIPOGRAFIA=====================*/
h1{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;  
  
}
h2{
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.75rem;  
}
h3{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;  
}
h4{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;  
}
h5{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;  
}
h6{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 0.75rem;  
}
p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 1.125rem;
}
pre, code{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
}
code{
  color: #053B69;
  background-color: #becbd6;
  padding: 4px;
  border: solid #778a99 1px;
}
/*==========BACKGROUNDS========*/
.bg-cz{
  background-color: #cde4eb;
}
.bg-grey{
  background-color: #b0c4d6;
}
.bg-db{
  background-color: #022e52;
}
.bg-b{
  background-color: #053C69;
}
.bg-dbk{
  background-color: #081520;
}
.bg-img{
  background-image: url('../img/bg/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 20px;
}
.bg-blur{
    background-image: url('../img/bg/bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: auto;
  padding: 20px;
}
/*==========TONS DE AZUL========*/
.az-01{
  color: #85DBF2;
}
.az-02{
  color: #80D7D8;
}
.az-03{
  color: #509bd1;
}
.az-04{
  color: #246a99;
}
.az-05{
  color: #063E6C;
}
.az-06{
  color: #022e52;
}
/*==========TONS DE CINZA========*/
.cz-00{
  color: #e1f9ff;
}
.cz-01{
  color: #FEFEFF;
}
.cz-02{
  color: #EDF0F3;
}
.cz-03{
  color: #D7DDE3;
}
.cz-04{
  color: #73808B;
}
.cz-05{
  color: #616c75;
}
.txt-shadow{
  text-shadow: 0px 1px 2px #020c2cd2;
}

/*=========MENU========*/
a.nav-link{
  color: #60BACB!important;
}
a.nav-link:hover{
  color: #9bf2f3!important;
  font-weight: 800!important;
}
a.nav-link:active{
  color: #9bf2f3!important;
  font-weight: 800!important;
}
a.nav-link:focus{
  color: #81D7D9!important;
  font-weight: 800!important;
}
.bg-menu-toggle{
  border: solid #6ab8b8 1px!important;
  background-color: #326b99!important;
}
.navbar-toggler:hover{
  border: solid #6ab8b8 2px!important;
}
.navbar-toggler:active{
  border: solid #6ab8b8 2px!important;  
}

/*==========SOBRE========*/
img.foto {
  border: solid #85DBF2 8px;
  border-radius: 50%;
}
a.az-01.m-1 {
    font-size: 32px;
}
/*==========ITENS========*/
.drop::before {
  content: ""; /* Essencial para que o pseudo-elemento exista */
  display: inline-block;
  width: 15px;
  height: 15px;
  background: radial-gradient(#a9e0f0, #63b9ca);
  border-radius: 50%; /* Transforma o quadrado em círculo */
  margin-right: 10px;
}
/*========================CAROUSEL============================*/
/* Slider */

.slick-slide {
    margin: 0px 0px 15px 0px;
}

.slick-slide img {
    height: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*=========================CURSOS===============================*/
nav > .nav.nav-tabs{
  border: none;
    color:#cde4eb;
    background:#272e38;
    border-radius:0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active{
  border: none;
  padding: 18px 25px;
  color:#cde4eb;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  background:#081520;
  border-radius:0;
}
nav > div a.nav-item.nav-link.active:after{
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #60BACB ;
}
.tab-content{
  background: #cde4eb;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #60BACB;
    border-bottom:5px solid #60BACB;
    padding:30px 25px;
}
nav > div a.nav-item.nav-link:hover, nav > div a.nav-item.nav-link:focus{
  border: none;
  background: #60BACB;
  color:#081520!important;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  border-radius:0;
  transition:background 0.20s linear;
}
/*======================FORMS====================================*/
input[type="text"], input[type="email"]{
    border: solid #6ab8b8 3px;
    margin: 4px;
    border-radius: 4px;
}
.botao{
    color: #6ab8b8;
    background-color: transparent;
    background-image: none;
    border-color: #6ab8b8;
    padding: 2px 35px;
    border-radius: 4px;
}
.botao:hover{
  color: #081520;
  background-color: #6ab8b8;
  border-radius: 4px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
input.mensagem {
    width: 250px;
}
/*========================RESPONSIVIDADE========================*/
@media (max-width: 1000px){
  img.foto {
    width: 80%;
}
}
@media (max-width: 656px){  
  .sobre.row.col-md-12 {
    flex-direction: column-reverse;
}
  img.foto {
    border: solid #85DBF2 8px;
    border-radius: 50%;
    width: 70%;
    margin: 10px;
}
.perfil.col-md-5.p-2.mt-5 {
    text-align: center;
}
.sociais.row.text-center.p-5 {
    align-content: center;
  }
  .perfil-texto.col-md-7.mb-5 {
    margin-top: 50px;
    margin-left: 10px;
}
h1{
  font-size: 2.725rem;
}
h5.az-03 {
    margin-bottom: -40px;
}
.row.az-05 {
    margin-right: 10px;
}
.container-fluid.tecnologias {
    margin-left: 30px;
}
input.mensagem {
    width: 191px;
}
button.border-2.botao {
    width: 191px;
    margin-left: 4px;
    margin-top: 4px;
}
section#contato {
    text-align: center;
}
}
@media(max-width:470px){
  h2.az-02.txt-shadow{
    margin-left: -40px;
}
}