/*==========BACKGROUNDS========*/
.bg-cz{
  background-color: #cde4eb;
}
.bg-grey{
  background-color: #b0c4d6;
}
.bg-db{
  background-color: #022e52;
}
.bg-dbk{
  background-color: #081520;
}
/*==========TONS DE AZUL========*/
.az-01{
  color: #85DBF2;
}
.az-02{
  color: #80D7D8;
}
.az-03{
  color: #509bd1;
}
.az-04{
  color: #246a99;
}
.az-05{
  color: #063E6C;
}
.az-06{
  color: #022e52;
}
/*==========TONS DE CINZA========*/
.cz-00{
  color: #e1f9ff;
}
.cz-01{
  color: #FEFEFF;
}
.cz-02{
  color: #EDF0F3;
}
.cz-03{
  color: #D7DDE3;
}
.cz-04{
  color: #73808B;
}
.cz-05{
  color: #616c75;
}