/*=========RESET GLOBAL========*/
body{
  background-color: #053C69;
  margin: 0;  
}
ul{
  list-style: none;
}
li {
    border-bottom: dashed #053c6911 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*=========MENU========*/
a.nav-link{
  color: #60BACB;
}
a.nav-link:hover{
  color: #16888a;
}
a.nav-link:active{
  color: #81D7D9;
  font-weight: 600;
}
a.nav-link:focus{
  color: #81D7D9;
  font-weight: 600;
}
.bg-menu-toggle{
  border: solid #6ab8b8 1px;
  background-color: #326b99;
}
.navbar-toggler:hover{
  border: solid #6ab8b8 2px;
}
.navbar-toggler:active{
  border: solid #6ab8b8 2px;  
}
/*==========SOBRE========*/
img.foto {
  border: solid #85DBF2 8px;
  border-radius: 4px;
}
/*==========ITENS========*/
.drop::before {
  content: ""; /* Essencial para que o pseudo-elemento exista */
  display: inline-block;
  width: 15px;
  height: 15px;
  background: radial-gradient(#a9e0f0, #63b9ca);
  border-radius: 50%; /* Transforma o quadrado em círculo */
  margin-right: 10px;
}
/*==========TABELA========*/


